<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | relative_url }}">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | relative_url }}">About Me</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | relative_url }}">Blog</a></li>
  <li class="{% if page.url contains '/projects/' %} active {% endif %}"><a href="{{ "/projects/" | relative_url }}">Projects</a></li>
  <li class="{% if page.url contains '/skills/' %} active {% endif %}"><a href="{{ "/skills/" | relative_url }}">Skills</a></li>
</ul>
